<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'customers')}">

<body>


<h2>Account Information</h2>


<table class="table table-striped" th:object="${account}">
    <tr>
        <th>Account Number</th>
        <td><b th:text="*{accountNumber}"></b></td>
    </tr>
    <tr>
        <th>Account Type</th>
        <td th:text="*{accountType}"/>
        </td>
    </tr>
    <tr>
        <th>Balance</th>
        <td th:text="*{balance}"/>
        </td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${account.id})}" class="btn btn-default">Edit
    Account</a>
<form th:action="@{{id}/delete(id=${account.id})}" method="post">
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
</form>
<br/>
<br/>
<br/>
<div class="container">
    <h2>Card add</h2>
    <div class="container my-2">
        <div class="row">
            <form th:action="@{/cards/{accountId}/new(accountId=${account.id})}" method="get" class="col-sm my-2 my-lg-0">
                <button type="submit" class="btn btn-danger">
                    Add card
                </button>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <table>
            <thead class="table table-striped text-center">
            <tr class="thead-dark">
                <th scope="col"> Card Number </th>
                <th scope="col"> CVV </th>
                <th scope="col"> Validate Time </th>
                <th scope="col"> More </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="card : ${account.getCards()}">
                <td><span th:text="${card.cardNumber}"> Card Number </span></td>
                <td><span th:text="${card.ccv}"> Cvv </span></td>
                <td><span th:text="${card.validityTime}"> Validate Time </span></td>
<!--                <td><span th:text="${card.validityTime}"> Balance </span></td>-->
<!--                <td><a th:href="@{{id}(id=${account.id})}" class="btn btn-secondary"> More</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br/>
<br/>
<br/>
<div class="container">
    <h2>Transaction From</h2>
    <div class="d-flex justify-content-center">
        <table>
            <thead class="table table-striped text-center">
            <tr class="thead-dark">
                <th scope="col"> Transaction Number </th>
                <th scope="col"> Transaction Type </th>
                <th scope="col"> Total Balance </th>
                <th scope="col"> Account Number To </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${account.getTransactionsFrom()}">
                <td><span th:text="${transaction.transactionNumber}"> Transaction Number </span></td>
                <td><span th:text="${transaction.transactionType}"> Transaction Type </span></td>
                <td><span th:text="${transaction.totalBalance}"> Total Balance </span></td>
<!--                <td><span th:text="${transaction.getAccountTo().getAccountNumber()}"> Total Balance </span></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br/>
<br/>
<br/>
<div class="container">
    <h2>Transaction To</h2>
    <div class="d-flex justify-content-center">
        <table>
            <thead class="table table-striped text-center">
            <tr class="thead-dark">
                <th scope="col"> Transaction Number </th>
                <th scope="col"> Transaction Type </th>
                <th scope="col"> Total Balance </th>
                <th scope="col"> Account Number From </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${account.getTransactionsTo()}">
                <td><span th:text="${transaction.transactionNumber}"> Transaction Number </span></td>
                <td><span th:text="${transaction.transactionType}"> Transaction Type </span></td>
                <td><span th:text="${transaction.totalBalance}"> Total Balance </span></td>
<!--                <td><span th:text="${transaction.getAccountFrom().getAccountNumber()}"> Total Balance </span></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>