<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'beers')}">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<div class="container my-2">
    <div class="row">
        <form th:action="@{/accounts/find}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by account number" aria-label="Search" name="accountNumber">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center">
    <table>
        <thead class="table table-striped text-center">
        <tr class="thead-dark">
            <th scope="col"> Account Number </th>
            <th scope="col"> Account Type</th>
            <th scope="col"> Balance </th>
            <th scope="col"> More </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td><span th:text="${account.accountNumber}"> Account Number </span></td>
            <td><span th:text="${account.accountType}"> Account Type </span></td>
            <td><span th:text="${account.balance}"> Balance </span></td>
            <td><a th:href="@{{id}(id=${account.id})}" class="btn btn-secondary"> More </a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>