<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'customers')}">
<head>
    <meta charset="UTF-8">
    <title>Create Customer or Update Customer</title>
</head>
<body>
<form th:object="${card}" class="form-horizontal" id="add-customer-form" method="post">
    <input type="hidden" th:field="*{id}" />
        <input th:replace="~{fragments/inputField :: input ('Card Number', 'cardNumber', 'text')}" />
    <input th:replace="~{fragments/inputField :: input ('Cvv', 'ccv', 'number')}" />
    <input th:replace="~{fragments/inputField :: input ('Validity Time', 'validityTime', 'number')}" />
    <input th:replace="~{fragments/inputField :: input ('Password', 'password', 'text')}" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>